body {
	word-break:break-all;
	font-size:11pt;
}

.title {
	font-size:18pt;
	color:#1473af;
	padding-top:5pt;
	padding-bottom:5pt;
}

.from {
	font-size:10pt;
	padding-top:4pt;
}

#introduce {
	clear:both;
	background-color:#F1F1F1;
	color:#444;
	margin-top:5pt;
	quotes:"\201C""\201D""\2018""\2019";
	padding:13pt 5pt 8pt;
}

#introduce:before {
	color:#CCC;
	content:open-quote;
	font-size:4em;
	line-height:.2em;
	margin-right:.2em;
	float:left;
	margin-top:.17em;
}

#introduce img {
	width:0;
	height:0;
	visibility:hidden;
	padding:0;
}

#introduce p {
	line-height:16pt;
	margin:0;
}

#introduce div {
	margin:0 !important;
}

#content {
	padding-top:10pt;
}

#content p {
	text-indent:2em;
	line-height:16pt;
}

ol,ul,li {
	list-style:none;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

#content table,#content td {
	border:1px solid #000;
	border-collapse:collapse;
	border-spacing:0;
}

#content table p {
	text-indent:0;
}

#content iframe {
	display:block;
	max-width:100%;
	border:0;
	margin:auto;
}

#content embed {
	display:block;
	max-width:100%;
}

#content video {
	display:block;
	max-width:100%;
	height:auto;
	margin:auto;
}

#content img {
	display:block;
	max-width:100% !important;
	height:auto !important;
	margin:0 auto;
}

a {
	text-decoration:none;
	color:#2f7cad;
}

#content blockquote {
	background-color:#F1F1F1;
	color:#444;
	quotes:"\201C""\201D""\2018""\2019";
	margin:0;
	padding:13pt 5pt 8pt;
}

#content blockquote:before {
	color:#CCC;
	content:open-quote;
	font-size:4em;
	line-height:.01em;
	margin-left:.1em;
	vertical-align:-.4em;
}

.clear {
	clear:both;
}

.foot {
	text-align:center;
	padding-top:10pt;
	padding-bottom:20pt;
}