<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ywwxhz.cnbetareader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.ywwxhz.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:resizeableActivity="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.Basic">
        <activity
            android:name="com.ywwxhz.activitys.NewsDetailActivity"
            android:configChanges="screenSize|smallestScreenSize|layoutDirection|screenLayout|keyboardHidden|orientation" />
        <activity
            android:name="com.ywwxhz.activitys.TopicNewsListActivity"
            android:configChanges="screenSize|smallestScreenSize|layoutDirection|screenLayout|keyboardHidden|orientation" />
        <activity
            android:name="com.ywwxhz.activitys.ImageViewActivity"
            android:configChanges="screenSize|smallestScreenSize|layoutDirection|screenLayout|keyboardHidden|orientation" />
        <activity
            android:name="com.ywwxhz.activitys.MainActivity"
            android:configChanges="screenSize|smallestScreenSize|layoutDirection|screenLayout|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.Basic.NoAnim">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ywwxhz.crash.activity.DefaultErrorActivity"
            android:label="@string/crash_log"
            android:process=":crash"
            android:theme="@style/Theme.Basic.NoAnim" />
    </application>

</manifest>
