<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ywwxhz.cnbetareader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.ywwxhz.MyApplication"
        android:theme="@style/Theme.Basic">
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name="com.ywwxhz.app.NewsListActivity"
            android:theme="@style/Theme.Basic.NoAnim">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name="com.ywwxhz.app.NewsDetailActivity"/>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name="com.ywwxhz.app.NewsCommentActivity"/>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/settings"
            android:name="com.ywwxhz.app.SettingsActivity"/>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.Basic.Image"
            android:name="com.ywwxhz.app.ImageViewActivity"/>
    </application>

</manifest>
